@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

nav {
    font-size: 12pt;
    font-family: 'PT Sans', Arial, Sans-serif;
    position: relative;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: auto;
}

nav a {
    line-height: 50px;
    height: 50px;
}

nav li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav li:last-child a {
    border-right: 0;
}

nav a#pull {
    display: none;
}

html {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: #FFF;
}

ul {
    margin: 0;
    padding: 0;
    background-color: rgb(186, 211, 240);
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    color: #FFFFFF;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
}

li a:hover {
    color: #ffffff;
    font-weight: normal;
}

.menu {
    width: 100%;
    height: 50px;
    text-align: center;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #ffffff;
    color: white;
    position: absolute;
    z-index: 1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    line-height: 1.6;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

article {
    flex: 1;
    padding: 13rem;
    padding: 9rem;
    font-family: 'LINESeedKR-Bd';
    color: black;
    margin-left: 6rem;
    margin-top: 1rem;
}

h1 {
    font-size: 1.9rem;
    margin-bottom: 1.7rem;
}

footer {
    background: rgb(186, 211, 240);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    position: relative;
    transform: translateY(-100%);
    width: 100%;
}

.post-img {
    width: 100%;
    height: 260px;
    position: absolute;
    top: 200px;
    left: 1100px;
}
.article-hobby {
    display: flex;
    justify-content: space-between;
    
}
    
.hobby-item {
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    
}
    
.hobby-item img {
    width: 100%;
    height: 70%;
}
    
.hobby-item p {
  margin-top: 10px;
}
.hobby-item {
    width: calc(50% - 20px);
}
.portfolio-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width:50px;
    height:50px;

}
/* Media queries for responsiveness */
@media (max-width: 768px) {
    /* Adjust font-size and other styles for smaller screens */
    nav {
        font-size: 10pt;
    }

    li a {
        padding: 10px;
    }

    /* Adjust other styles as needed */
}